.lteie8{
	.footer__socials{
		li{
			display: inline;
		}
	}
	.carousel__download{
		.carousel__buttons_text{
			display: block;
			width: 200px;
			margin-left: 0;
		}
	}
	.carousel,.clients{
		background: url(../img/bg_shadow.png) repeat-x 0% 100%;
	}
	.loyalty__holder{
		.h1{
			display: inline-block;
		}
	}
}