// Normally mainpage styles
%site{
	width: 1280px;
	margin: 0 auto;
}
//icons
.icon{
	display: inline-block;
	vertical-align: middle;
}
	.icon_tw 			{@include s(ico_tw);}
	.icon_fb 			{@include s(ico_fb);}
	.icon_gp 			{@include s(ico_gp);}
	.icon_pin 			{@include s(ico_pin);}
	.icon_download 		{@include s(ico_download);}
	.icon_call			{@include s(ico_call);}
	.icon_presentation 	{@include s(ico_presentation);}
	.icon_cup 			{@include s(ico_cup);}
	.icon_cake			{@include s(ico_cake);}
	.icon_food			{@include s(ico_food);}

//header
.header{
	position: relative;
	z-index: 1;
	background: url(../img/bg.jpg) 100% 0% no-repeat #000;
}
.header__holder{
	position: relative;
	@extend %clr;
	@extend %site;
	height: 100px;
}
//logo
.logo{
	position: absolute;
	top: 20px;
	left: 45px;
	a{
		@extend %hide-text;
		display: block;
		@include s(logo);
	}
}
//nav
.nav{
	float: right;
	margin-top: 30px;
	margin-right: 160px;
	ul{
		@extend %clr;
	}
	li{
		float: left;
		position: relative;
		list-style-type: none;
		margin-left: 90px;
		line-height: 1;
		&:first-child{
			margin-left: 0;
		}
	}
	span{
		color: #fff;
		text-decoration: none;
		&:hover{
			cursor: pointer;
			h2{
				border-bottom: 1px dotted #fdca9b;
			}
			p{
				border-bottom: 1px dotted #e1e1e1;
			}
		}
	}
	h2{
		display: inline-block;
		@include gb;
		color: #fda24f;
		font-size: 21px;
		border-bottom: 1px solid transparent;
	}
	p{
		padding-top: 0.2em;
		display: inline-block;
		@include hm;
		color: #fff;
		font-size: 14px;
		border-bottom: 1px solid transparent;
	}
}
//popup
.popup{
	display: none;
	position: absolute;
	top: 90px;
	right: 0;
	width: 315px;
	@include border-radius(5px);
	@include box-shadow(0px 0px 5px 2px rgba(0, 0, 0, 0.3));
	background: #2e1d01;
	color: #fff;
	font-size: 14px;
	@include gl;
	line-height: 1;
	a{
		color: #fda24f;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.popup__wrap{
	position: relative;
	padding: 20px;
	&:before{
		position: absolute;
		top: -13px;
		right: 50px;
		content: "";
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 13px 14px 13px;
		border-color: transparent transparent #2e1d01 transparent;
	}
}
.popup__skype{
	margin-bottom: 10px;
	i{
		@include s(ico_skype);
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		margin-top: -2px;
	}
}
.popup__tel{
	margin-bottom: 20px;
	i{
		@include s(ico_tel);
		display: inline-block;
		vertical-align: middle;
		margin-right: 17px;
		margin-top: -2px;
		margin-left: 3px;
	}
}
.popup__address{
	margin-left: 5px;
}
//footer
.footer{
	background: url(../img/bg_footer.jpg) no-repeat 50% 0% #000;
}
.footer__holder{
	position: relative;
	min-height: 500px;
	@extend %site;
}
.footer__logo{
	@include s(logo);
	position: absolute;
	top: -68px;
	right: 50%;
	margin-right: -75px;
}
.footer__nav{
	padding-top: 115px;
	margin-left: -90px;
	@extend %clr;
	width: 915px;
	margin: 0 auto;
	padding-bottom: 130px;
	.h1{
		@include gb;
		font-size: 24px;
		color: #ff6400;
		margin-bottom: 20px;
	}
	ul{
		float: left;
		width: 190px;
		margin-left: 90px;
		text-align: center;
	}
	li{
		list-style-type: none;
		@include gr;
		font-size: 21px;
		color: #fff;
		a{
			color: #fff;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.footer__socials{
	position: absolute;
	bottom: 40px;
	width: 1280px;
	ul{
		text-align: center;
		margin-left: -7px;
	}
	li{
		display: inline-block;
		margin-left: 7px;
	}
	a{
		@extend %hide-text;
		&:hover{
			&.icon_tw{@include s(ico_tw_hover);}
			&.icon_fb{@include s(ico_fb_hover);}
			&.icon_gp{@include s(ico_gp_hover);}
			&.icon_pin{@include s(ico_pin_hover);}
		}
	}
}
//page
.page{
	position: relative;
	margin-bottom: 130px;
}
//label
.label{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	a{
		@extend %hide-text;
		display: block;
		@include s(banner_offer);
	}
}
//carousel
.carousel{
	position: relative;
	@extend %clr;
	@include box-shadow(inset 0 -3px 15px -3px rgba(0,0,0,.6));
}
.carousel__nav{
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	&.disabled{
		cursor: default;
	}
	&.carousel__nav_prev{
		left: -40px;
		@include s(navi_prev);
	}
	&.carousel__nav_next{
		right: -40px;
		@include s(navi_next);
	}
}
.carousel__in{
	position: relative;
	@extend %clr;
	width: 1060px;
	margin: 0 auto;
}
.carousel__scroll{
	float: left;
	position: relative;
	overflow: hidden;
	width: 1060px;
	height: 520px;
}
.carousel__main {
	width: 20000em;
	position: absolute;
	clear: both;
}
.carousel__items{
	float: left;
	width: 1060px;
	height: 520px;
}
.carousel__image{
	float: left;
	width: 380px;
	height: 100%;
	margin-right: 20px;
	img{
		position: relative;
		z-index: -1;
	}
}
.carousel__info{
	overflow: hidden;
	margin-top: 110px;
	line-height: 1.2;
	@include gr;
	.h1{
		@include gb;
		font-size: 60px;
		color: #fff;
		line-height: 1;
		margin-bottom: 0.5em;
	}
	p{
		font-size: 21px;
		color: #000;
	}
}
.carousel__download{
	margin-top: 45px;
	color: #fff;
	font-size: 14px;
}
.carousel__buttons{
	margin-top: 15px;
}
.carousel__buttons_gplay{
	margin-left: 3px;
}

.carousel__buttons_apple{
	display: inline-block;
	@include s(button_app);
}
.carousel__buttons_gplay{
	display: inline-block;
	@include s(button_gp);
}
.carousel__buttons_text{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	margin-left: 10px;
	width: 250px;
	@include gm;
	color: #fff;
	font-size: 12px;
	span{
		color: #583400;
		text-transform: uppercase;
	}
}
//clients
.clients{
	position: relative;
	@extend %clr;
	padding: 28px 0;
	@include box-shadow(inset 0 -3px 15px -3px rgba(0,0,0,.6));
}
.clients__nav{
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	&.disabled{
		cursor: default;
	}
	&.clients__nav_prev{
		left: 15px;
		@include s(navi_prev);
	}
	&.clients__nav_next{
		right: 15px;
		@include s(navi_next);
	}
}
.clients__wrap{
	width: 1050px;
	margin: 0 auto;
}
.clients__in{
	@include border-radius (10px);
	background: #ffd399;
	position: relative;
	@extend %clr;
}
.clients__scroll{
	float: left;
	position: relative;
	overflow: hidden;
	width: 955px;
	height: 115px;
	margin-left: 50px;
}
.clients__main {
	width: 20000em;
	position: absolute;
	clear: both;
	top: 50%;
	margin-top: -50px;
}
.clients__items{
	float: left;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin-right: 20px;
	text-align: center;
	img{
		display: inline-block;
		vertical-align: middle;
	}
}
.clients__title{
	@include gr;
	font-size: 15px;
	color: #fff;
	line-height: 1;
	margin-bottom: 15px;
	margin-left: 10px;
}
//testimonials
.testimonials{
	margin-bottom: 60px;
}
.testimonials__cycle{
	width: 800px;
	margin: 0 auto;
}
.testimonials__cycle-slideshow{
	position: relative;
	article{
		position: relative;
		width: 100%;
		text-align: center;
		color: #fff;
		padding-bottom: 45px;
		&:after{
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -145px;
			height: 1px;
			width: 290px;
			background: #fff;
			content: "";
		}
	}
}
.testimonials__nav{
	@extend %hide-text;
	cursor: pointer;
	position: absolute;
	top: 40px;
	&.testimonials__prev{
		left: -115px;
		@include s(navi_prev);
	}
	&.testimonials__next{
		right: -115px;
		@include s(navi_next);
	}
}
.testimonials__blockquote{
	@include gm;
	font-size: 40px;
	color: #fff;
	line-height: 1.2;
	margin-bottom: 40px;
}
.testimonials__source{
	@include gr;
	font-size: 18px;
	color: #000;
	line-height: 1;
}
//loyalty
.loyalty{
	height: 100%;
	padding-top: 55px;
}
.loyalty__holder{
	position: relative;
	@extend %site;
	.h1{
		position: relative;
		@include gb;
		display: inline-block;
		color: #fda14e;
		font-size: 21px;
		background: #582b00;
		height: 66px;
		line-height: 66px;
		padding: 0 20px 0 30px;
		margin-bottom: 70px;
		&:after{
			position: absolute;
			top: 0;
			right: -20px;
			content: "";
			@include s(arrow);
		}
		&:before{
			position: absolute;
			top: 0;
			left: -10000px;
			right: 100%;
			height: 66px;
			background: #582b00;
			content: "";
		}
	}
}
.loyalty__download{
	float: right;
	margin-right: 50px;
	height: 66px;
	line-height: 66px;
	a{
		@include gm;
		font-size: 18px;
		color: #fff;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.icon{
		margin-left: 15px;
	}
	.icon_download{
		margin-top: -8px;
	}
}
.loyalty__info{
	@extend %clr;
	margin: 0 auto 85px;
	width: 900px;
}
.loyalty__col{}
.loyalty__presentation{
	float: left;
	width: 380px;
	.icon{
		float: left;
		margin-top: 8px;
		margin-right: 25px;
	}
}
.loyalty__presentation-info{
	overflow: hidden;
	line-height: 1.2;
	p{
		@include gr;
		color: #000;
		font-size: 21px;
		a{
			color: #000;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.loyalty__presentation-title{
	@include gb;
	font-size: 36px;
	color: #fff;
}
.loyalty__tel{
	float: right;
	width: 460px;
	.icon{
		float: left;
		margin-top: 10px;
		margin-right: 25px;
	}
}
.loyalty__tel-info{
	overflow: hidden;
	line-height: 1.2;
	p{
		@include gr;
		color: #000;
		font-size: 21px;
		a{
			color: #000;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.loyalty__tel-number{
	@include gb;
	font-size: 36px;
	color: #fff;
}
.loyalty__text{
	width: 800px;
	margin: 0 auto;
	@include gr;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
//gather
.gather{
	width: 1180px;
	margin: 0 auto;
	padding-top: 53px;
	color: #fff;
}
.gather__panel{
	background: #583000;
	height: 40px;
	line-height: 40px;
	padding: 10px 0;
}
.gather__wrap{
	@extend %clr;
	padding: 0 15px 0 45px;
}
.gather__button{
	float: right;
	margin-left: 20px;
}
.btn{
	display: inline-block;
	background-color: #ff9100;
	@include background-image(linear-gradient(top, #ff9100 0%, #ff6400 100%));
	text-align: center;
	border: 2px solid #b35112;
	color: #fff;
	@include hm;
	font-size: 14px;
	@include text-shadow(0 1px 0 rgba(0,0,0,.5));
	@include border-radius(10px);
	background-repeat: repeat-x;
	padding: 10px 18px;
	&:hover,
	&:focus{
		cursor: pointer;
		text-decoration: none;
		background-position: 0 -48px;
		@include transition(background-position 0.2s linear);
		background-color: #ff6400;
		@include text-shadow(0 -1px 0 rgba(0,0,0,.3));
	}
	&:active{
		background-image: none;
		outline: 0;
		@include box-shadow(
			inset 	0 2px 4px rgba(0, 0, 0, 0.15),
					0 1px 2px rgba(0, 0, 0, 0.05)
			);
	}
}
.gather__filter{
	float: left;
	color: #ff9100;
	font-size: 18px;
	@include gr;
	span{
		margin-right: 20px;
	}
}
.gather__city{
	display: inline-block;
	margin-right: 45px;
}
.gather__search{
	display: inline-block;
	margin-right: 100px;
}
.gather__results{
	display: inline-block;
	color: #fff;
	font-style: italic;
}
.gather__map{
	position: relative;
	width: 100%;
	img{
		display: block;
	}
	&:before{
		position: absolute;
		content: "";
		bottom: -1px;
		left: -9px;
		right: -9px;
		height: 9px;
		background: rgba(0,0,0,.6);
		@include box-shadow(0px -1px 13px rgba(50, 50, 50, 0.75));
	}
}
.gather__list{
	margin-left: -5px;
	@extend %clr;
}
// .gather__col{
// 	float: left;
// 	width: 390px;
// 	margin-left: 5px;
// 	&:first-child{
// 		margin-left: 0;
// 	}
// }
.gather__item{
	display: inline-block;
	width: 390px;
	margin-left: 3px;
	margin-top: 40px;
}
.gather__icon{
	.icon{
		vertical-align: baseline;
	}
}
.gather__title{
	@include hb;
	font-size: 21px;
	color: #ffe8dd;
}
.gather__address{
	@include hm;
	text-transform: uppercase;
	font-size: 14px;
	color: #582f00;
}